<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Floppa Stats</title>
    <link rel="stylesheet" href="/static/main.css" />
    <link rel="icon" type="image/png" href="/static/favicon.png" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=clash-display@600&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono&amp;display=swap"
      rel="stylesheet"
    />
    <link
      href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-bg text-accent font-mono p-4">
    <div class="flex items-end space-x-1 w-full pb-2 border-grey border-b">
      <h1 class="text-white font-display text-4xl md:text-6xl flex-1">Floppa Stats</h1>
      <a
        class="transition-colors hover:text-white"
        href="https://github.com/gosher-studios/floppa-stats"
        target="_blank"
        ><i class="fa-brands fa-github"></i
      ></a>
      <p>v{{ ver }}</p>
    </div>
    <div class="flex flex-wrap items-center">
      <span class="mt-2 mr-2">sort by:</span>
      {% call sortbutton("fa-a", "default") %}
      {% call sortbutton("fa-clock", "playtime") %}
      {% call sortbutton("fa-pickaxe", "mined") %}
      {% call sortbutton("fa-route", "distance") %}
      {% call sortbutton("fa-up", "jumps") %}
      {% call sortbutton("fa-sword", "kills") %}
      {% call sortbutton("fa-hammer", "crafted") %}
      {% call sortbutton("fa-money-bill-transfer", "trades") %}
      {% call sortbutton("fa-skull", "deaths") %}
    </div>
    <div class="flex flex-wrap">
      {% for (uuid, player) in players %}
        <div
          class="bg-fg p-2 mt-2 md:mr-2 w-full md:w-96 transition-shadow hover:shadow-xl"
        >
          <p class="text-white font-bold text-2xl md:text-3xl align-middle">
            <img
              src="https://mc-heads.net/head/{{ uuid }}"
              class="w-12 mr-2 inline transition-transform hover:scale-110"
            />
            {{ player.username }}
          </p>
          <!-- prettier-ignore -->
          {% call stat("fa-clock", "playtime", "{:.1}h"|format(player.playtime)) %}
          {% call stat("fa-pickaxe", "mined", player.mined) %}
          {% call stat("fa-route", "distance", "{:.2}km"|format(player.distance)) %}
          {% call stat("fa-up", "jumps", player.jumps) %}
          {% call stat("fa-sword", "kills", player.kills) %}
          {% call stat("fa-hammer", "crafted", player.crafted) %}
          {% call stat("fa-money-bill-transfer", "trades", player.trades) %}
          {% call stat("fa-skull", "deaths", player.deaths) %}
        </div>
      {% endfor %}
    </div>
  </body>
</html>

{% macro sortbutton(icon, label) %}
  <a class="bg-fg py-1 px-2 mt-2 mr-2 transition-all hover:bg-hover hover:shadow-lg {% if sort_mode == label %} text-white {% endif %}" href={% if label == "default" %} "/" {% else %} "?sort={{ label }}" {% endif %}>
    <i class="fa-solid {{ icon }} w-6"></i>{{ label }}
  </a>
{% endmacro %}

{% macro stat(icon, label, val) %}
  <div class="w-full flex items-center">
    <span><i class="fa-solid {{ icon }} w-6"></i>{{ label }}:</span>
    <div class="flex-1 border-grey border-b border-dashed mx-2"></div>
    <span class="text-white">{{ val }}</span>
  </div>
{% endmacro %}
